@import-normalize ;
@import 'tailwind-base.css';
body.no-animate *, body.no-animate *::before, body.no-animate *::after {
    transition: none !important;
    animation: none !important;
}

html {
    font-size: 62.5%;
    font-family: Muli, Roboto, Helvetica Neue, Arial, sans-serif;
    background-color: #121212;
    /* color: rgba(247, 224, 20, 0.06) */
}

body {
    font-size: 14px;
    line-height: 1.4;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
}

h1, .h1 {
    font-size: 24px;
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 16px;
}

h4, .h4 {
    font-size: 15px;
}

h5, .h5 {
    font-size: 13px;
}

h6, .h6 {
    font-size: 12px;
}

.ps>.ps__rail-y, .ps>.ps__rail-x {
    z-index: 99;
}

a[role=button] {
    text-decoration: none;
}

[role="tooltip"] {
    z-index: 9999;
}

/* Medium Devices, Desktops Only */

@media only screen and (min-width: 992px) {
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0);
    }
    ::-webkit-scrollbar:hover {
        width: 12px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0.06);
    }
    ::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24);
        border-radius: 20px;
    }
    ::-webkit-scrollbar-thumb:active {
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.37);
        border-radius: 20px;
    }
}

form label {
    z-index: 99;
}

@keyframes autofill {
    0%, 100% {
        background: transparent;
    }
}

input:-webkit-autofill {
    animation-delay: 1s;
    animation-name: autofill!important;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 0 0 100px transparent inset!important;
}

.react-sharing-button__text {
    display: none;
}

.MuiInputBase-root .Mui-disabled, .MuiFormLabel-root .Mui-disabled {
    color: #000 !important;
    cursor: not-allowed !important;
}

.smallText {
    color: gray;
    font-size: 1.2rem;
}

.custom-toolbar-height {
    margin-top: 3%;
    margin-bottom: 3%;
}

@media screen and (max-width: 1125px) {
    .customToolBarSearchDivClass {
        width: 70% !important;
    }
}

@media screen and (max-width: 960px) {
    .custom-toolbar-height {
        height: 150px !important;
    }
}

@media screen and (max-width: 600px) {
    .customToolBarSearchDivClass {
        width: 100% !important;
        margin-left: -15%;
    }
}

@media screen and (max-width: 400px) {
    .customToolBarSearchDivClass {
        width: 150% !important;
        margin-left: -55%;
    }
}

.kpo-custom-swal-popup {
    width: 52em !important;
}
.mrQ-custom-swal-popup {
    width: 40em !important;
}

.kpo-custom-swal-title {
    font-size: 22px !important;
    font-weight: 700 !important;
    color: #000000 !important;
    line-height: 27.61px !important;
}

.kpo-custom-swal-icon.swal2-info {
    border-color: #F0AD02 !important;
    color: #F0AD02 !important;
}

.kpo-custom-swal-icon {
    width: 37px !important;
    height: 37px !important;
}

.kpo-custom-swal-icon .swal2-icon-content {
    font-size: 2.5em !important;
}

.kpo-custom-swal-icon .swal2-icon-content {
    transform: rotate(180deg) !important;
}

.kpo-custom-swal-text {
    font-size: 14px !important;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
}

.disabled-stuff {
    background-color: #F3F3F3 !important;
}

.kpo-custom-swal-btn {
    width: 130px !important;
    height: 40px !important;
    text-transform: uppercase;
    font-size: 13px !important;
    display: inline-block !important;
    margin-bottom: 5% !important;
}

.forty-five {
    width: 45% !important;
}

.swal2-icon.swal2-success.mrn-custom-swal-icon .swal2-success-ring {
    border: 3px solid #19AC4B;
}
.swal2-icon.swal2-success.swal2-icon-show.mrn-custom-swal-icon .swal2-success-line-tip, .swal2-icon.swal2-success.swal2-icon-show.mrn-custom-swal-icon .swal2-success-line-long {
    background-color: #19AC4B;
}
/* .mrn-custom-swal-popup {

} */
.mrn-custom-swal-title {
    color: #000000 !important;
    font-size: 22px !important;
    font-weight: 700 !important;
}
.mrn-custom-swal-btn {
    width: 40% !important;
    padding: 8px !important;
    font-size: 13px !important;
}
.mrn-custom-swal-text {
    color: #525252 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    margin-top: 3% !important;
}
/* Survey Forms */

.inputTypeOptions  {
    position:  absolute ;
    top:-150px;
    right:50px
    
  }
  .inputTypeOptionsLi {
    color:#C4C4C4;
    font-size: 18px;
    border-radius:17px;
    line-height: 20px;
    padding: 12px 5px;
    cursor:pointer
  }

  .inputTypeOptionsLi:hover {
    background:#4B507E;
    color: white;
    border-radius:17px;
    cursor:pointer
  }
#topToBottom {
  animation: topToBottom ease .5s;
  -webkit-animation: topToBottom ease .5s;
  -moz-animation: topToBottom ease .5s;
  -o-animation: topToBottom ease .5s;
  -ms-animation: topToBottom ease .5s;
}

@keyframes topToBottom {
  0% {
    margin-top: -4%;
  }
  100% {
    margin-top: 0%;
  }
}

@-moz-keyframes topToBottom {
  0% {
    margin-top: -4%;
  }
  100% {
    margin-top: 0%;
  }
}

@-webkit-keyframes topToBottom {
  0% {
    margin-top: -4%;
  }
  100% {
    margin-top: 0%;
  }
}

@-o-keyframes topToBottom {
  0% {
    margin-top: -4%;
  }
  100% {
    margin-top: 0%;
  }
}

@-ms-keyframes topToBottom {
  0% {
    margin-top: -4%;
  }
  0% {
    margin-top: 0%;
  }
}

/* End Survey Forms  */
@import 'print.css';
@import 'tables.css';
@import 'prism.css';
@import 'tailwind.css';